/* popup/styles.css */

* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  padding: 15px;
  width: 100%;
  max-width: 100%;
}

h1 {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid #3c3c3c;
  padding-bottom: 5px;
}

.section {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.api-key-input {
  font-family: monospace;
  font-size: 12px;
  letter-spacing: -0.5px;
  text-align: center;
}

.form-group input[type="text"],
.form-group select {
  width: 100%;
  padding: 8px;
  background-color: #2d2d2d;
  border: 1px solid #3c3c3c;
  border-radius: 4px;
  color: #ffffff;
}

.form-group small a {
  color: #569cd6;
  text-decoration: none;
}

.form-group small a:hover {
  text-decoration: underline;
}

.inline-group {
  display: flex;
  flex-direction: column;
}

.inline-group label {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-bottom: 5px;
}

.inline-group input[type="checkbox"] {
  margin-right: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007acc;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 15px;
}

button[type="submit"]:hover {
  background-color: #005f99;
  cursor: pointer;
}

.required {
  color: #d16969;
}

.message {
  display: none;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #2d8a34;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
}

.usage-data {
  margin-top: 10px;
  padding: 10px;
  background-color: #2d2d2d;
  border: 1px solid #3c3c3c;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
}

.usage-data p {
  text-align: center;
  margin: 0;
}

.warning-message {
  width: 100%;
  background-color: #e55050; /* Red background */
  color: #ffffff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
}

/* Styles for the More Options toggle */
.more-options-toggle {
  text-align: center;
  margin-bottom: 15px;
}

.more-options-toggle button {
  background-color: transparent;
  border: none;
  color: #569cd6;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

.more-options-toggle button:hover {
  text-decoration: none;
}

/* Responsive styles for small screens */
@media (max-width: 400px) {
  .container {
    padding: 10px;
  }
  h1,
  h2 {
    font-size: 16px;
  }
  .form-group label {
    font-size: 13px;
  }
  .form-group input[type="text"],
  .form-group select {
    font-size: 14px;
  }
  button[type="submit"] {
    font-size: 14px;
  }
  .inline-group label {
    font-size: 13px;
  }
}
